@import '../../less/index.less';

.ContactQuickInfoContainer {
  /*border: @showMe;*/
  .custom-layout(center, center);
  padding: 2rem;
  width: 90%;
  margin: 0 auto;
  flex-direction: column;
  img {
    margin-bottom: 6%;
    border-radius: 25px;
    @media (min-width: 768px) {
      max-height: 600px;
      min-width: 650px;
    }
    @media (min-width: 992px) {
      max-height: 800px;
      min-width: 750px;
    }

  }
  .bioContainer {
    .custom-layout(center, center);
    flex-direction: column;
    .bio {
      color: @mainPurple;
      font-size: 4rem;
      font-weight: 700;
      cursor: pointer;
      text-transform: uppercase;
      text-decoration: underline;
      .letterSpacing(.3rem);
      &:hover {
        color: @mainPink;
      }
    }
    .chevron {
      font-size: 7rem;
      color: @mainPurple;
      &:hover {
        color: @mainPink;
        cursor: pointer;
      }
    }
  }
  .ContactPText {
  text-align: center;
  font-size: 2rem;
  letter-spacing: .1rem;
  line-height: 4rem;
  padding: 1rem;
  color: @mainGrey;
  background: @mainGreen;
  .border-radius(25px);
  opacity: 1;
  margin-bottom: 6%;
  @media (min-width: 768px) {
    padding: 3rem;
    font-size: 3rem;
    width: 80%;
  }
  @media (min-width: 992px) {
    width: 70%;
  }
  }
  .ps {
    font-family: @stylishText;
    background: @mainPurple;
    opacity: .7;
    padding: 1.5rem;
    .border-radius(25px);
    text-align: center;
    color: @mainWhite;
    font-size: 2.2rem;
    font-weight: 700;
    .letterSpacing(.2rem);
    .important {
      text-decoration: underline;
      font-weight: 700;
    }
    @media (min-width: 768px) {
      font-size: 3rem;
      width: 80%;
    }
    @media (min-width: 992px) {
      width: 70%;
    }
  }


}

